::-webkit-scrollbar-button {
  display: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ff3bb42e transparent;
}

*::-webkit-scrollbar {
  display: none;

  width: 16px;
}

*::-webkit-scrollbar-track {
  display: none;

  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: transparent;
  border: 3px solid transparent;
}
body {
  background-color: #f1dfd2;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: 100dvh;
  padding-inline: 0 !important;
}

#root {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: 100%;
  padding-inline: 0 !important;
}

.animated-icon:hover .animated-icon-self{
    color: #594545;
    scale: 1.1;
}

.animated-icon:active .animated-icon-self{
    color: #594545;
    scale: 1.2;
}

.input-number-edit, .input-number-edit>div{
  width: fit-content;
  padding: 0;
}

.input-number-edit>div>input{
  padding: 0 !important;
  width: 32px !important;
  padding: 4px !important;
}

.select-edit .ant-select-selection-item{
  padding-inline-end: 0px !important;
  /* padding-inline: 4px !important; */
}

/*
Source - https://stackoverflow.com/a
Posted by Fareed Alnamrouti, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-22, License - CC BY-SA 4.0
*/

input:-webkit-autofill {
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #5d5a5a00;
}
