services:
  db:
    image: postgres:15
    container_name: ${DOCKER_BD_CONTAINER_NAME}
    restart: always
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - "${DOCKER_BD_PATH}:/var/lib/postgresql/data"

volumes:
  db_lab:
